.mainArticleImage {
padding-left: 189px;
padding-top: 74px;
width: 658px;
height: 553px;
position: absolute;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 13.2px;
}

h2 {
  color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
}

h3 {
  color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17.7px;

}

.mainArticle {

  font-family: open-sans;

}
