//----------Font styling-------//

p {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 13.2px;
}

h2 {
    // color: white; /*will add later*/
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

h3 {
    // color: white; /*will add later*/
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17.7px;

}

//---------Styling av meny---------//

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background: white;
  padding: 5px 0px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.menu ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu li{
  padding: 15px 0px;
}

.menu li.item{
  padding: 15px 10px;

}

li.logo {
  margin-left: 0;
  padding-right: 0;
}

.menu li a {
  display: block;
}


.logo a {
  font-family: "Open Sans", Sans-Serif;
  font-size: 24px;
  color: rgba(10, 85, 130, 1);
  margin-left: 21px;
}

input {
  padding: 9px 25px;
  width: 169px;
  height: 29px;
  border-radius: 10px;
  border-color: rgba(10, 10, 10, 1);
}

/* Mobile menu */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
  margin-right: 15px;
}

/* TA BORT? */

.item.search {
  order: 2;
  width: 100%;
}

.item {
  font-family: "Open Sans", Sans-Serif;
  font-size: 13px;
  color: rgba(10, 10, 10, 1);
  width: 100%;
  text-align: left;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

/* Hamburger */

.bars {
  background: black;
  display: inline-block;
  height: 2px;
  width: 26px;
  position: relative;
}

.bars::before, .bars::after {
  background: black;
  content: "";
  display: inline-block;
  height: 2px;
  width: 26px;
  position: absolute;
}

.bars::before {
  top: 5px;
}

.bars::after {
  top: -5px;
}


//---------Main flexbox container------//

.main-flexbox{
  max-width: 1200px;
  margin: 17px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

//---------Left MAIN flex-column ------//

//-------------------------------------------------------------------------------------------FORTSÄTT HÄR--------------------------------------------------------------------------//


.leftFlex{
  flex: 60%;      //utan flex här så fungerar flex-direction row för mindre skärmar
  padding: 6px;

}


//----------Right MAIN flex column------//

.rightFlex{
  flex: 40%;
  padding: 6px;
}



//-----------Styling of mainArticle and subArticle-----------//

.mainArticle {
  /* Container holding the image and the text */
    position: relative;
    text-align: left;
    //width: 100%;                                          //Verkar ej spela roll om jag har width: 100% här eller inte

    .mainArticleImage {
    width: 100%;                                          //Om jag sätter width: 100% så fungerar ej flex-direction column vid mindre skärmar
    }
    /* Bottom right text */
        .text-block {
          position: absolute;
          //width: 100%;
          //height: 135px;
          bottom: 3px;
          left: 0px;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          padding-top: 20px;
          padding-right: 20px;
          padding-bottom: 40px;
          padding-left: 20px;
    }
}

.subArticle {
  /* Container holding the image and the text */
  position: relative;
  text-align: left;

        .subArticleImage {
          width: 100%;
          }

          /* Bottom right text */
              .text-block {
                position: absolute;
                width: 100%;
                bottom: 3px;
                left: 0px;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                padding-top: 15px;
                padding-right: 9px;
                padding-bottom: 35px;
                padding-left: 15px;
              }
}

.banner{
  flex: 100%;
  padding: 6px;
  img{
    width: 100%;
    height: 145px;
  }
  position: relative;
}

.bannerText{
  position: absolute;
  top: 20px;
  left: 16px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.divider{
  flex: 100%;
  background-color: black;
  height: 1px;
  //margin-left: 6px;
  //margin-right: 6px;
  margin: 6px;
}

//----------Nested flex container-----//

.minArticle-flexContainer{
  width: 100%;
  display: flex;
}

//--------Left NESTED flex column-----//
.imgCol{
  flex: 45%;
  margin-top: 9px;
  flex-wrap: wrap;

}

.minArticleImage{
  width: 100%;
  height: 120px;
}

//-------Right NESTED flex column-----//
.textCol{
  flex: 55%;
  margin-top: 9px;
  //padding: 5px 5px 5px 10px;
  padding-left: 10px;
}

/*Style the list*/
ul.inside {
  list-style-position: inside;
  li::marker{
    font-size: 10px;
  }
}

li.myList{
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 16px;
}
//Responsive


//-----------Tablet view----------//
/* Tablet menu */

@media all and (min-width:468px) {
  .menu {
      justify-content: center;
  }
  .logo {
      flex: 1;
  }
  .item.search {
      width: auto;
      order: 1;
      display: none;
  }
  .toggle {
      order: 2;
      margin-right: 15px;
  }

}


@media all and (min-width:768px) {

  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      margin-left: 21px;
      order: 0;
  }
  .item {
      order: 1;
  }
  .item.search {
      margin-right: 188px;
      order: 2;
      display: block;
  }
}


@media screen and (max-width: 700px){
  .main-flexbox{
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
  }

  .minArticleImage{
    height: 135px;
  }

  .banner{
  img{
    width: 100%;
    height: 71px;
    }
  }

  .bannerText{
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
  }

 .hideText{
   display: none;
 }

}
