.mainArticleImage {
//position: absolute; /*testing changing position of picture*/
left: 189px;
top: 74px;
width: 658px;
height: 553px;

}

.subArticleImage {
  //position: absolute; /*testing changing position of picture*/
  width: 392px;
  height: 276px;
  left: 860px;
  top: 74px;

}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 13.2px;
}

h2 {
    // color: white; /*will add later*/
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
}

h3 {
    // color: white; /*will add later*/
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17.7px;

}
//mini artiklar
.textSection{
  display: inline-block;
}

// Menu

* {
  box-sizing: border-box;
  font-family: "Open Sans", Sans-Serif;
  margin: 0;
}
.head {
    background-color: red;
    height: 57px;
}

.flexmenu {
  width: 100%;
  height: 57px;
  padding-top: .6em;
  padding-bottom: .5em;
  background-color: #fff;
  color: #000;
  font-size: 13px;
  line-height: 1.4em;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.5em;
}
.menu {
  display: none;
  padding-right: 100px;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  font-weight: normal;
}
.menu:first-child {
  display: inline-flex;
  justify-content: left;
  width: 80%;
  margin-left: 0;
  margin-right: auto;
}
.menu a {
  color: #000;
  text-decoration: none;
  padding:0 0.5em;
}
/* .menu:nth-child(n+2):hover {
  background-color: #c0c0c0;
  color: #000;
  border-radius: 0.5em;
} */
.mobile-menu {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1.2em;
}
.menu-icon {
  font-size: 2em;
  font-weight: normal;
  cursor: pointer;
}
.hide {
  display: none;
}
.show {
  display: inline-flex;
}

.banner{
  position: relative;
  color: white;
}

.banner p{
  position: absolute;
  top: 8px;
  left: 16px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .flex {
    flex-direction: row;
  }
  .menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-weight: normal;
  }
}
