//----------Font styling-------//

$base-font: "Open Sans", sans-serif;


p {
  font-family: $base-font;
  font-size: 10px;
  font-weight: 300;
  line-height: 13.2px;
}

h2 {
    // color: white; /*will add later*/
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
}

h3 {
    // color: white; /*will add later*/
    font-family: $base-font;
    font-size: 13px;
    font-weight: 400;
    line-height: 17.7px;

}

//---------Menu/header styling---------//

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


//-----------------------------------NEW HEADER STYLING--------------------------//

.logo {
  text-decoration: none;
  font-family: "Open Sans", Sans-Serif;
  font-size: 24px;
  margin-left: 21px;
  color: #0A5582;
}

.dropdown {
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  position: relative;
  display: flex;
  width: 100%;
  height: 57px;
}

.dropdown-content {
  top: 56px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-family: "Open sans", sans-serif;
  margin-left: 19px;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  font-size: 20px;
  color: #1E2D37;
  text-decoration: none;
  display: block;
}

.dropdown-content a:nth-child(5) {
  margin-bottom: 7px;
}

.navLinks {
  width: inherit;
}

.links {
  font-family: "Open Sans", Sans-Serif;
  font-size:  13px;
  color: #1E2D37;
  text-decoration: none;
  margin-left: 17.5px;
  margin-right: 17.5px;
}

.links:first-child{
  font-family: "Open Sans", Sans-Serif;
  font-size: 13px;
  color: #1E2D37;
  text-decoration: none;
  margin-left: 70.83px;
  margin-right: 17.5px;
}

#search-text-input {
  text-decoration: none;
  font-family: "Open Sans", Sans-Serif;
  font-size: 13px;
  text-align: center;
  align-items: center;
  height: 29px;
  width: 169px;
  position: relative;
  margin-right: 188px;
  border-radius: 10px;
  border-color: rgba(10, 10, 10, 1);
  border-width: thin;
}

.search img {
  width: 13px;
  margin: 11px;
  margin-left: 16px;
  position: absolute;
  z-index: 1;
}



//---------Main flexbox container------//


.main-flexbox{
  max-width: 1062px;
  margin: 17px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

//---------Left MAIN flex-column ------//


.leftFlex{
  flex: 61%;
  max-width: 658px;
}


//----------Right MAIN flex column------//

.rightFlex{
  flex: 37%;
  max-width: 392px;
}


//-----------Styling of mainArticle and subArticle-----------//

.mainArticle {
  /* Container holding the image and the text */
    position: relative;
    text-align: left;
    //width: 100%;                                        s

    .mainArticleImage {
    width: 100%;
    }
    /* Bottom right text */
        .text-block {
          position: absolute;
          width: 100%;
          bottom: 3px;
          left: 0px;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          padding-top: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
          padding-left: 20px;
    }
    .mainSmallTtextPosition{
      padding-left: 87%;
      line-height: 0;
    }
    .mainArrowPosition{
      padding-left: 87%;
    }



}

.subArticle {
  /* Container holding the image and the text */
  position: relative;
  text-align: left;
  max-height: 276px;
        .subArticleImage {
          width: 100%;
          }

          /* Bottom right text */
              .text-block {
                position: absolute;
                width: 100%;
                bottom: 3px;
                left: 0px;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                padding-top: 15px;
                padding-right: 9px;
                padding-bottom: 10px;
                padding-left: 15px;
              }
              .subSmallTtextPosition{
                padding-left: 75%;
                line-height: 0;
              }
              .subArrowPosition{
                padding-left: 75%;
              }
}



//----------Nested flex container-----//

.minArticle-flexContainer{
  width: 100%;
  display: flex;
  margin-top: 9px;
}

//--------Left NESTED flex column-----//
.imgCol{
  flex: 45%;
  flex-wrap: wrap;

}

.minArticleImage{
  width: 100%;
}

#imgOne{
  height: 126px;
}

#imgTwo{
  height: 133px;
}

//-------Right NESTED flex column-----//
.textCol{
  flex: 55%;
  padding-left: 10px;
}

//--------First minArticle-----------//

#minArticleOne{
  max-height: 126px;
}

//--------Second minArticle---------//

#minArticleTwo{
  max-height: 133px;
}

ul.inside {
  list-style-position: outside;
  li::marker{
    font-size: 8px;
  }
  padding-left: 20px;
}

.myList {
  font-family: $base-font;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.7px;
}


//----------------Styling of divider---------------//

.divider{
  flex: 100%;
  background-color: black;
  height: 1px;
  margin: 15px 0px 12px 0px;
}

//---------Styling of banner-------//

.banner{
  flex: 100%;
  img{
    width: 100%;
    height: 145px;
  }
  position: relative;
}

.bannerText{
  position: absolute;
  top: 20px;
  left: 16px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}


@media screen and (max-width: 376px){

  //Responsive menu
  .logo {
    margin-left: 14px;
    color: #0A5582;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(6px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-6px) rotate(45deg);
  }

  .search {
    display: none;
  }

  .navLinks{
    display: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 1px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #101010;
  }

  .hamburger {
    background-color: #ffffff;
    float: right;
    cursor: pointer;
  }

  .dropdown-content.show {
    top: 56px;
    display: block;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 2px 1px rgba(229, 229, 229);
    z-index: 1;
    font-weight: 400;

  }

  //Responsive MAIN CONTENT
  .main-flexbox{
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .main-flexbox.adaptToMenu{
    margin-top: 226px;
  }

  .divider{
    flex: none;
  }

  .leftFlex{
    margin-bottom: 9px;
  }

  .banner{
  img{
    width: 100%;
    height: 71px;
    }
  }

  .bannerText{
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
  }

 .hideText{
   display: none;
 }

 .mainArticle, .subArticle{
   .text-block{
     padding-bottom: 6px;
   }
 }

 .mainArticle{
   .cropped{
     width: 100%;
     height: 190px;
     object-fit: cover;
     object-position: 50% 30%;
   }

   .mainSmallTtextPosition{
     padding-left: 75%;
   }
   .mainArrowPosition{
     padding-left: 75%;
   }
 }

 .subArticle{
   .cropped{
     width: 100%;
     height: 150px;
     object-fit: cover;
     object-position: 50% 40%;
   }
   .subSmallTtextPosition{
     padding-left: 73%;
     //line-height: 0;
   }
   .subArrowPosition{
     padding-left: 73%;
   }
 }

 h2{
   font-size: 14px;
 }

}
