p {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 13.2px;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.7px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background: white;
  padding: 5px 0px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.menu ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu li {
  padding: 15px 0px;
}

.menu li.item {
  padding: 15px 10px;
}

li.logo {
  margin-left: 0;
  padding-right: 0;
}

.menu li a {
  display: block;
}

.logo a {
  font-family: "Open Sans", Sans-Serif;
  font-size: 24px;
  color: #0a5582;
  margin-left: 21px;
}

input {
  padding: 9px 25px;
  width: 169px;
  height: 29px;
  border-radius: 10px;
  border-color: #0a0a0a;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
  margin-right: 15px;
}

/* TA BORT? */
.item.search {
  order: 2;
  width: 100%;
}

.item {
  font-family: "Open Sans", Sans-Serif;
  font-size: 13px;
  color: #0a0a0a;
  width: 100%;
  text-align: left;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

/* Hamburger */
.bars {
  background: black;
  display: inline-block;
  height: 2px;
  width: 26px;
  position: relative;
}

.bars::before, .bars::after {
  background: black;
  content: "";
  display: inline-block;
  height: 2px;
  width: 26px;
  position: absolute;
}

.bars::before {
  top: 5px;
}

.bars::after {
  top: -5px;
}

.main-flexbox {
  max-width: 1200px;
  margin: 17px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leftFlex {
  flex: 60%;
  padding: 6px;
}

.rightFlex {
  flex: 40%;
  padding: 6px;
}

.mainArticle {
  /* Container holding the image and the text */
  position: relative;
  text-align: left;
  /* Bottom right text */
}
.mainArticle .mainArticleImage {
  width: 100%;
}
.mainArticle .text-block {
  position: absolute;
  width: 100%;
  bottom: 3px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.mainArticle .mainSmallTtextPosition {
  padding-left: 87%;
  line-height: 0;
}
.mainArticle .mainArrowPosition {
  padding-left: 87%;
}

.subArticle {
  /* Container holding the image and the text */
  position: relative;
  text-align: left;
  /* Bottom right text */
}
.subArticle .subArticleImage {
  width: 100%;
}
.subArticle .text-block {
  position: absolute;
  width: 100%;
  bottom: 3px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding-top: 15px;
  padding-right: 9px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.subArticle .subSmallTtextPosition {
  padding-left: 80%;
  line-height: 0;
}
.subArticle .subArrowPosition {
  padding-left: 80%;
}

.banner {
  flex: 100%;
  padding: 6px;
  position: relative;
}
.banner img {
  width: 100%;
  height: 145px;
}

.bannerText {
  position: absolute;
  top: 20px;
  left: 16px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.divider {
  flex: 100%;
  background-color: black;
  height: 1px;
  margin: 6px;
}

.minArticle-flexContainer {
  width: 100%;
  display: flex;
}

.imgCol {
  flex: 45%;
  margin-top: 9px;
  flex-wrap: wrap;
}

.minArticleImage {
  width: 100%;
  height: 120px;
}

.textCol {
  flex: 55%;
  margin-top: 9px;
  padding-left: 10px;
}

/*Style the list*/
ul.inside {
  list-style-position: inside;
}
ul.inside li::marker {
  font-size: 10px;
  margin-left: 10px;
}

li.myList {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 16px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.search {
    width: auto;
    order: 1;
    display: none;
  }

  .toggle {
    order: 2;
    margin-right: 15px;
  }
}
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    margin-left: 21px;
    order: 0;
  }

  .item {
    order: 1;
  }

  .item.search {
    margin-right: 188px;
    order: 2;
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .main-flexbox {
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
  }

  .divider {
    flex: none;
  }

  .minArticleImage {
    height: 135px;
  }

  .banner img {
    width: 100%;
    height: 71px;
  }

  .bannerText {
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
  }

  .hideText {
    display: none;
  }

  .mainArticle .text-block, .subArticle .text-block {
    padding-bottom: 6px;
  }

  .mainArticle .mainSmallTtextPosition {
    padding-left: 75%;
  }
  .mainArticle .mainArrowPosition {
    padding-left: 75%;
  }

  .subArticle .subSmallTtextPosition {
    padding-left: 73%;
  }
  .subArticle .subArrowPosition {
    padding-left: 73%;
  }
}

/*# sourceMappingURL=style.css.map */
